{% extends '::fredi/base.html.twig' %}

{% block body %}
    <div class="page-header">
        <div class="page-title">
            <h3>Bordereau</h3>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover table-checkable table-responsive">
        <thead>
            <tr class="info">
                <th>Date</th>
                <th>Motif</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cost in costs %}
            <tr>
                <td>{% if cost.date %}{{ cost.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ cost.reason.name }}</td>
                <td>{{ cost.total }}</td>
                <td>
                    <ul>
                        <li style="list-style-type:none;">
                            <a href="{{ path('cost_show', { 'id': cost.id }) }}" class="btn btn-primary">Aperçu</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
