<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Fredi M2L!{% endblock %}</title>

        {% block javascripts %}
            <script type="text/javascript" src="{{ absolute_url(asset('assets/vendor/jquery/dist/jquery.min.js')) }}"></script>
            <script type="text/javascript" src="{{ absolute_url(asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js')) }}"></script>
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css')) }}">
        {% endblock %}
    </head>
    <body class="{% block bodyClass %}{% endblock %}">

        {% block dockbar %}
            {{ render(controller('frediAppBundle:App:dockbar')) }}
        {% endblock %}
        <div class="container">
            <div class="content">
                {% block body %}{% endblock %}
                {% block fos_user_content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
