{% extends '::fredi/base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <div class="page-title">
            <h3>Enregistrer une note de frais</h3>
        </div>
    </div>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Enregistrer" class="btn btn-success pull-left" />
        <a href="{{ path('costline_index') }}" class="btn btn-info pull-left">Retour</a>
    {{ form_end(form) }}
{% endblock %}
